body {
  background-color: #1e1e1e;
}

#root > * {
  justify-content: center;
  padding: 15px;
}

.main-editor {
  min-width: 200px;
  max-width: 1024px;
}

.editor{
  height: 100%;
} 

.deleteCode {
  background: rgba(255, 0, 0, 0.15);
}

.addCode {
  background: rgba(0, 255, 0, 0.15);
}

.fadeOut {
  animation: fadeout ease 0.5s;
  animation-fill-mode: forwards;
}

.fadeIn {
  animation: fadein ease 0.5s;
  animation-fill-mode: forwards;
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.fade-in {
  animation: fadein 5s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
